#main {
  height: 100vh;
}
.App {
  display: grid;
  grid-gap: 20px 15px;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 300px;
  height: 350px;
  background: #005ba5;
  border-radius: 5%;
  padding: 30px;
}

#display {
  background: var(--bs-light);
  font-size: 26px;
}

#calculator-div {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 10px, 1fr;
  grid-template-areas:
    "clear clear clear ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . equals equals";
}

.btn {
  font-weight: 700;
}

#equals {
  /* background-color: var(--secondary); */
  color: var(--bs-light);
  grid-area: equals;
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal {
  /* background-color: var(--info); */
}

#clear {
  /* background-color: var(--warning); */
  grid-area: clear;
}
#add,
#subtract,
#multiply,
#divide {
  /* background-color: var(--dark); */
  color: var(--bs-light);
}
